* {
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.inner-container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px solid black;
    font-size: 8vw;
    border-top: white;
    border-left: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgba(137, 43, 226, 0.289);
}

.remove-border-bottom {
    border-bottom: 0px;
}

.remove-border-right {
    border-right: 0px;
}